@import '_variables.scss';

.header {
  height: $header-height;
  margin-left: $sidebar-width;
  background: white;
  // width: 100%;
  border-bottom: solid 1px #cdcdcd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.header.resize {
  margin-left: $sidebar-width-resize;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: right;
}